@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    padding: 1rem;
    background-image: url('./img/bg.png');
    background-color: transparent;  /* in case image failed */
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    width: 100%;
    height: 100vh; 
    margin: 0; 
    padding: 0; 
    opacity: 1;
  }

